<!DOCTYPE html> 
<html lang="en" dir="ltr">   
<head>     
<meta charset="utf-8">
<link rel="stylesheet" href="styles/atom-one-light.css">     
<link href="https://fonts.googleapis.com/css?family=Montserrat:Light|Open+Sans|Nunito+Sans"
rel="stylesheet">     
<link rel="stylesheet" href="master.css">
<title>Links and Redirects</title>   
</head>   
<body>     
<div class="main-container">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' 
type='text/css'>    
        <div class="screen">
            <div class="navbar"></div>     
            <div class="circle"></div>
            <div class="menu">
                <ul>
                    <li><a href="index.html" id="home">Home</a></li>
                    <li><a href="chapter-3.html">Models</a></li>
                    <li><a href="chapter-4.html">Django Templates</a></li>
                    <li><a href="chapter-5.html">URLs and Views</a></li>
                    <li><a href="chapter-6.html">Links and Redirects</a></li>
                    <li><a href="">7</a></li>
                </ul>
            </div>                      
            <div class="burger">
                <div class="x"></div>
                <div class="y"></div>
                <div class="z"></div>
            </div>    

        </div>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>       
<h1 class="lesson-num">6</h1>
<h1 class="lesson-title">Creating Links <br>between Webpages</h1>              
<h2 class="second-heading">Key Points</h2>
<ol>
  <li>reverse() Function</li>
  <li>url Template Tag</li>
  <li>get_absolute_url() Method</li>
  <li>redirect() Function</li>
</ol>

<h2 class="second-heading">reverse() Function</h2>
<p>
    This reverse() function in Django takes a name of any URL and returns its path. The reverse() is used to adhere to the DRY principle i.e if you change the url in future, then you can reference that url using reverse(urlname). It accepts a URL pattern name or the callable view object as an argument. For example, given the following url:
</p>
<pre><code class="language-python">
from news import views

path('archive/', views.archive, name='news-archive')

</code></pre>
 
<p>you can use any of the following to reverse the URL:</p>
<pre><code class="language-python">
from django.core.urlresolvers import reverse # in older versions
from django.urls import reverse              # in version 2.0
# using the named URL
reverse('news-archive')

# passing a callable object
# (This is discouraged because you can't reverse namespaced views this way.)
from news import views
reverse(views.archive)

</code></pre>
<p>If the URL accepts arguments, you may pass them in args. For example:</p>
<pre><code class="language-python">
from django.urls import reverse

def myview(request):
    return HttpResponseRedirect(reverse('arch-summary', args=[1945]))
    
</code></pre>

<p>You can also pass kwargs instead of args. For example:</p>

<pre><code class="language-python">
>>> reverse('admin:app_list', kwargs={'app_label': 'auth'})
'/admin/auth/'

</code></pre>
<p><a href="https://docs.djangoproject.com/en/2.1/ref/urlresolvers/">This</a> is a link to the docs.</p>
<h2 class="second-heading">url Template Tag</h2>
<p>
    The Django Template Language supplies the url template tag, which works exactly like
    reverse() (because it uses reverse() internally). Like any other template tag, the url tag is expressed via {% expression %} and expects any string arguments to be encompassed by single or double quotes and separated by spaces. <br>
    It returns an absolute path reference (a URL without the domain name) matching a given view and optional parameters. Any special characters in the resulting path will be encoded using iri_to_uri(). <br>

    This is a way to output links without violating the DRY principle by having to hard-code URLs in your templates: 
</p>
<pre><code class="language-python">
{% url 'some-url-name' v1 v2 %}

{% url 'some-url-name' arg1=v1 arg2=v2 %} # keyword syntax

</code></pre>
<h2 class="second-heading">get_absolute_url() Method</h2>
<p>
     If it makes sense for your model’s instances to each have a unique URL, you should define get_absolute_url(). <br>
     When using reverse() for object/detail pages you have to manually pass the arg(s), which could be an ID or slug or whatever, but if you implement get_absolute_url() in your model, you define it once and you don't need to repeat yourself to pass the arg(s).
     For example:
</p>
<pre><code class="language-python">
def get_absolute_url(self):
    from django.urls import reverse
    return reverse('people.views.details', args=[str(self.id)])

</code></pre>
<h2 class="second-heading">redirect() Function</h2>
<p>
    It returns an HttpResponseRedirect to the appropriate URL for the arguments passed.

    The arguments could be:</p>

    <ul id="short-list"><li>A model: the model’s get_absolute_url() function will be called.</li>
    <li>A view name, possibly with arguments: reverse() will be used to reverse-resolve the name.</li>
    <li>An absolute or relative URL, which will be used as-is for the redirect location.</li></ul>
<p>
    By default issues a temporary redirect; pass permanent=True to issue a permanent redirect. <br>

    You can use the redirect() function in a number of ways. <br>

    By passing some object; that object’s get_absolute_url() method will be called to figure out the redirect URL:
</p>
<pre><code class="language-python">
from django.shortcuts import redirect

def my_view(request):
    ...
    obj = MyModel.objects.get(...)
    return redirect(obj)

</code></pre>
<p>By passing the name of a view and optionally some positional or keyword arguments; the URL will be reverse resolved using the reverse() method:</p>
<pre><code class="language-python">
def my_view(request):
    ...
    return redirect('some-view-name', foo='bar')

</code></pre>
<p>By passing a hardcoded URL to redirect to:</p>
<pre><code class="language-python">
def my_view(request):
    ...
    return redirect('/some/url/')

# also works with full URLs:

def my_view(request):
    ...
    return redirect('https://example.com/')

</code></pre>
<p>&nbsp;</p>
</div>

    <script src="highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript" src="style.js"></script>
  </body>
</html>
